* {
    padding: 0;
    margin: 0;
}

/* Logo */

#logo {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: rgb(0, 84, 147);
    text-decoration: none;
    font-size: 150%;
}

/* Hidden class - displays and shows areas as neccessary */
.hidden {
    display: none;
}

/* Header */
header {
    background-color: rgba(255, 255, 255, 0.6);
    width: 500px;
    margin: 20px auto 0;
    border-radius: 15px;
}

/* Background image */

body {
    background-image: url('../images/oysters.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Rules area */

#rules-area, #save-score-area{
    background-color: rgba(0, 84, 147, 0.6);
    width: 500px;
    padding: 20px;
    margin: 20px auto 0;
    border-radius: 15px;
    color: whitesmoke;
}

#welcome{
    text-align: center;
    margin-bottom: 10px;
    font-size: 150%;
}

#rules {
    text-align: center;
    margin-bottom: 10px;
    list-style: none;
    font-size: 125%;
}

.center {
    display: flex;
    justify-content: center;
}

#start-quiz {
    width: 300px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 150%;
    color: #666;
}

/* Quiz area */

#quiz-area {
    background-color: rgba(0, 84, 147, 0.6);
    width: 500px;
    padding: 20px;
    margin: 20px auto 0;
    border-radius: 15px;
    color: whitesmoke;
}

/* Question section */

#question-section {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #666;
    border-radius: 15px;
    font-size: 150%;
    text-align: center;
    margin-top: 10px;
}

/* Answer section */

#answer-section {
    display: flex;
    justify-content: center;
}

#answer {
    display: flex;
    flex-direction: column; 
    gap: 1em;  
}

.answers, #restart-quiz, #highscore-link {
    width: 300px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 150%;
    color: #666;
}

/* Result area  */

#result-area {
    background-color: rgba(0, 84, 147, 0.6);
    color: whitesmoke;
    width: 500px;
    padding: 20px;
    margin: 20px auto 0;
    border-radius: 15px;
    text-align: center;
    font-size: 150%;
}

#correct-answers {
    width: 300px;
    height: 50px;
    background-color: rgb(5, 242, 5);
    border-radius: 15px;
    font-size: 80%;
    color: #666;
    margin-top: 5px;
}

/* Correct answer */

.correct-answer{
    color: rgb(5, 242, 5);
}

#correct-answer {
    color: whitesmoke;
}

#correct-answers-area {
    background-color: rgba(0, 84, 147, 0.6);
    color: whitesmoke;
    width: 1000px;
    padding: 20px;
    margin: 20px auto 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 100%;

}

/* Score and timer  */

#score-timer {
    display: flex;
    justify-content: space-between;
    font-size: 125%;
    margin-top: 10px;
}

.red {
    color: red;
}

/* Counter */

#counter {
    background-color: rgba(0, 84, 147, 0.6);
    color: whitesmoke;
    width: 20px;
    padding: 10px;
    margin: 20px auto 0;
    border: 5px solid whitesmoke;
    border-radius: 15px;
    text-align: center;
    font-size: 150%; 
}

/* Footer */

footer {
    background-color: rgba(255, 255, 255, 0.6);
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer p {
    color: rgb(0, 84, 147);
    text-align: center;
    padding-top: 15px;
}

/* Icons */
.icon {
    color: rgb(0, 84, 147);
}

/* Highscore */

#highscore-link {
    margin-top: 5px; 
    color: #666; 
}

#highscore-link a {
    text-decoration: none;
}

/* Media queries  */

/* For screen size 1440px and down */

@media screen and (max-width: 1440px) {

    #correct-answers-area {
        width: 600px;
    }
}

/* For screen size 520px and down */

@media screen and (max-width: 520px) {

    #quiz-area, #rules-area, #result-area {
        width: 350px; 
    }

    header {
        width: 300px;
        margin-left: 50px;
    }
}





