* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Logo */

#logo {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: rgb(0, 84, 147);
    text-decoration: none;
    font-size: 150%;
}

/* Hidden class - displays and shows areas as neccessary */
.hidden {
    display: none;
}

/* Header */
header {
    background-color: rgba(255, 255, 255, 0.6);
    max-width: 100%;
    margin: 20px auto 0;
    border-radius: 15px;
    box-sizing: border-box;
}

/* Background image */

body {
    background-image: url('../images/oysters.webp');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex: 1 1 auto;
}

/* Rules area */

#rules-area, #save-score-area, #highscore-area{
    background-color: rgba(0, 84, 147, 0.6);
    max-width: 100%;
    padding: 20px;
    margin: 20px auto 0;
    border-radius: 15px;
    color: whitesmoke;
}

#welcome{
    text-align: center;
    margin-bottom: 10px;
    font-size: 150%;
}

#rules {
    text-align: center;
    margin-bottom: 10px;
    list-style: none;
    font-size: 125%;
}

.center {
    display: flex;
    justify-content: center;
}

#start-quiz {
    width: 300px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 150%;
    color: #666;
}

#start-quiz:hover {
    background-color: #666;
    color: whitesmoke;
}

/* Quiz area */

#quiz-area {
    background-color: rgba(0, 84, 147, 0.6);
    width: 500px;
    padding: 20px;
    margin: 20px auto 0;
    border-radius: 15px;
    color: whitesmoke;
}

/* Question section */

#question-section {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #666;
    border-radius: 15px;
    font-size: 150%;
    text-align: center;
    margin-top: 10px;
}

/* Answer section */

#answer-section {
    display: flex;
    justify-content: center;
}

#answer {
    display: flex;
    flex-direction: column; 
    gap: 1em;  
}

.answers, #restart-quiz, #save-score {
    width: 300px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 150%;
    color: #666;
}

.answers:hover, #restart-quiz:hover, #save-score:hover {
    background-color: #666;
    color: whitesmoke;
}

/* Result area  */

#result-area {
    background-color: rgba(0, 84, 147, 0.6);
    color: whitesmoke;
    width: 500px;
    padding: 20px;
    margin: 20px auto 0;
    border-radius: 15px;
    text-align: center;
    font-size: 150%;
}

#correct-answers {
    width: 300px;
    height: 50px;
    background-color: rgb(5, 242, 5);
    border-radius: 15px;
    font-size: 80%;
    color: #666;
    margin-top: 5px;
}

#correct-answers:hover {
    background-color: #666;
    color: whitesmoke;
}

/* Correct answer */

.correct-answer{
    color: rgb(5, 242, 5);
}

#correct-answer {
    color: whitesmoke;
}

#correct-answers-area {
    background-color: rgba(0, 84, 147, 0.6);
    color: whitesmoke;
    max-width: 100%;
    padding: 20px;
    margin: 20px auto 10px;
    border-radius: 15px;
    text-align: center;
    font-size: 100%;
}

/* Score and timer  */

#score-timer {
    display: flex;
    justify-content: space-between;
    font-size: 125%;
    margin-top: 10px;
}

.red {
    color: red;
}

/* Counter */

#counter {
    background-color: rgba(0, 84, 147, 0.6);
    color: whitesmoke;
    width: 20px;
    padding: 10px;
    margin: 20px auto 0;
    border: 5px solid whitesmoke;
    border-radius: 15px;
    text-align: center;
    font-size: 150%; 
}

/* Footer */

footer {
    background-color: rgba(255, 255, 255, 0.6);
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
}

footer p {
    color: rgb(0, 84, 147);
    text-align: center;
    padding-top: 15px;
}

/* Icons */
.icon {
    color: rgb(0, 84, 147);
}

/* Highscore area */

#highscore-link {
    margin-top: 5px;
    text-decoration: none;
    color: #666;
    width: 300px;
    height: 50px;
    background-color: whitesmoke;
    border-radius: 15px;
    font-size: 150%;
    padding: 0 75px; 
}

#highscore-link:hover {
    background-color: #666;
    color: whitesmoke;
}

.highscore {
    margin-top: 5px;
}

 #username {
    text-align: center;
    width: 150px;
    margin-bottom: 15px;
}

#form-area{
    text-align: center;
}

#highscore-display, #highscore-area{
    text-align: center;
    font-size: 115%;
}

#highscore-area {
    overflow: scroll;
}

/* Media queries  */

/* For screen size 1440px and down */

@media screen and (max-width: 1440px) {

    #correct-answers-area {
        max-width: 600px;
    }
}

/* For screen size 520px and down */

@media screen and (max-width: 520px) {

    #quiz-area, #rules-area, #result-area, #save-score-area, #highscore-area, #correct-answer-area, header, footer {
        max-width: 100%; 

    }

    header {
        max-width: 350px;
    }
}

/* For screen size 380px and down */

@media screen and (max-width: 390px) {

    header {
        margin-left: 25px;
    }   
}

/* For screen height 775px and down */

@media screen and (max-height: 775px) {

    #rules-area {
        font-size: 70%;
    }

    #quiz-area {
        font-size: 80%;
    }

    #question-section {
        font-size: 100%;
    }

    .answers {
        font-size: 100%;
        height: 30px;
        width: 200px;
    }

    
}



