* {
    padding: 0;
    margin: 0;
}

/* Logo */

#logo {
    display: flex;
    justify-content: center;
    padding: 20px;
    color: rgb(11, 177, 248);
    text-decoration: none;
}

/* Hidden class - displays and shows areas as neccessary */
.hidden {
    display: none;
}


